*{
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  box-sizing: border-box;

}

body {
  background-color: #23252c;
  margin: 40px 30px;
}

.background-shadow {
  background: #1a1b21;
  width: 100%;
    max-width: 300px;
    
    /* to set items at the center*/
    margin: 0 auto;
    top: 44px;
    /* border-radius: 10px; */
    text-align: center;
    display: flex;
    flex-direction: column;

}